extends layout
include _includes/scripts

block content
    .columns.admin-panel-columns
        aside.column.is-2.aside.hero.is-fullheight.is-hidden-mobile
            div
                .main
                    .title Main
                    a.item.active
                        span.icon
                            i.fa.fa-home
                        span.name Dashboard
                    a(href="/user/log").item
                        span.icon
                            i.fa.fa-plus-circle
                        span.name Log a session
                    a(href="#").item
                        span.icon
                            i.fa.fa-calendar
                        span.name View schedule
                    a(href="#").item
                        span.icon
                            i.fa.fa-line-chart
                        span.name Get motivated
        .column.is-10.admin-panel
            section.section.hero.is-small.admin-panel-header
                .hero-body
                    .container
                        h1.title.is-2
                            | Welcome,&nbsp
                            =user.name
                        h2.subtitle.is-4 Keep up the good work!
                        p data:
                        p=user.routine[0].muscleGroup
                .hero-foot
                    nav.level
                        .level-item.has-text-centered
                            p.heading Total workouts
                            p.title 101
                        .level-item.has-text-centered
                            p.heading Avg per week
                            p.title 5
                        .level-item.has-text-centered
                            p.heading Active since
                            p.title 11 Nov 2016
            section.section
                .columns.is-mobile.is-multiline
                    .column.is-half-desktop.is-full-mobile
                        section.panel
                            p.panel-heading Weekly weight lifted
                            p.panel-tabs
                                a(href="#") This week
                                a(href="#") Last week
                                a(href="#") Two weeks ago
                            .panel-block
                                #weightLifted
                            .panel-block
                                button.button.is-default.is-outlined.is-fullwidth View Data
                    .column.is-half-desktop.is-full-mobile
                        section.panel
                            p.panel-heading Workout distribution sessions /week
                            p.panel-tabs
                                a(href="#") This week
                                a(href="#") Last week
                                a(href="#") Two weeks ago
                            .panel-block
                                #distSession
                            .panel-block
                                button.button.is-default.is-outlined.is-fullwidth View Data
                .columns.is-mobile.is-multiline
                    .column.is-half-desktop.is-full-mobile
                        section.panel
                            p.panel-heading Weekly activity
                            p.panel-tabs
                                a(href="#") Exercise 1
                                a(href="#") Exercise 2
                                a(href="#") Exercise 3
                                a(href="#") Exercise 4
                                a(href="#") Exercise 5
                            .panel-block
                                #weeklyActivity
                            .panel-block
                                button.button.is-default.is-outlined.is-fullwidth View Data
                    .column.is-half-desktop.is-full-mobile
                        section.panel
                            p.panel-heading Weight lifted /day
                            p.panel-tabs
                                a(href="#") This week
                                a(href="#") Last week
                                a(href="#") Two weeks ago
                            .panel-block
                                #weightLiftedDay
                            .panel-block
                                button.button.is-default.is-outlined.is-fullwidth View Data

    script(type = 'text/javascript').
        var exercisesData = !{JSON.stringify(exerciseData)};

    +jQuery()
    +morris
    +dashboardHome
