//
   Created by Jørgen on 26.11.2016.

mixin jQuery()
    script(src='/javascripts/jquery-3.1.1.min.js')

mixin morris()
    script(src='/javascripts/raphael.min.js')
    script(src='/javascripts/morris.min.js')

mixin datepicker()
    script(src='/javascripts/datepicker/picker.js')
    script(src='/javascripts/datepicker/picker.date.js')
    script(src='/javascripts/datepicker/picker.time.js')
    script(src='/javascripts/datepicker/legacy.js')
    script(src='/javascripts/datepicker/translations/no_NO.js')

mixin dashboardHome()
    script(src='/javascripts/dashboardHome.js')

mixin dashboardAddLog
    script(src='/javascripts/dashboardAddLog.js')